body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
table {
    height: 300px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

th, td {
    border: 1px solid black;
    padding: 3px;
}
#header {
    color:rgb(67, 98, 36);
    font-weight: bold;
}
h1 {
    width: center;
    height: 60vh;
    font-size: 50px;
}

